.content{
    align-self: center;
    margin:10px
}

.quantity{
    font-size: 13px;
    font-weight:600
}

.status{
    font-size: 11px;
    margin:20px;
    text-align:center;
    padding-right: 20px;

}
